step-functions/email_processing_workflow.json
{
  "Comment": "InsureMail AI - Email Processing Workflow",
  "StartAt": "ParseEmail",
  "States": {
    "ParseEmail": {
      "Type": "Task",
      "Resource": "${email_parser_lambda_arn}",
      "Comment": "Parse raw email and extract fields",
      "ResultPath": "$.parsed_email",
      "Next": "ParallelAnalysis",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ParallelAnalysis": {
      "Type": "Parallel",
      "Comment": "Run intent classification and entity extraction in parallel",
      "Branches": [
        {
          "StartAt": "ClassifyIntent",
          "States": {
            "ClassifyIntent": {
              "Type": "Task",
              "Resource": "${classify_intent_lambda_arn}",
              "Comment": "Classify email across 7 label dimensions using active LLM; judge accuracy with the other model",
              "Parameters": {
                "email_id.$": "$.parsed_email.email_id",
                "email_body.$": "$.parsed_email.parsed_data.body_text",
                "subject.$": "$.parsed_email.parsed_data.subject"
              },
              "ResultPath": "$.intent",
              "End": true
            }
          }
        },
        {
          "StartAt": "ExtractEntities",
          "States": {
            "ExtractEntities": {
              "Type": "Task",
              "Resource": "${extract_entity_lambda_arn}",
              "Comment": "Extract structured entities from email body and attachments using Textract + Bedrock Claude",
              "Parameters": {
                "email_id.$":           "$.parsed_email.email_id",
                "email_body.$":         "$.parsed_email.parsed_data.body_text",
                "subject.$":            "$.parsed_email.parsed_data.subject",
                "sender_email.$":       "$.parsed_email.parsed_data.sender_email",
                "policy_number.$":      "$.parsed_email.parsed_data.policy_number",
                "member_id.$":          "$.parsed_email.parsed_data.member_id",
                "customer_id.$":        "$.parsed_email.parsed_data.customer_id",
                "pii_present.$":        "$.parsed_email.parsed_data.pii_present",
                "has_attachment.$":     "$.parsed_email.parsed_data.has_attachment",
                "attachments_content.$":"$.parsed_email.parsed_data.attachments_content",
                "s3_bucket.$":          "$.parsed_email.parsed_data.s3_bucket",
                "s3_key.$":             "$.parsed_email.parsed_data.s3_key"
              },
              "ResultPath": "$.entities",
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Comment": "Fall back to email_parser entities on any extraction failure",
                  "ResultPath": "$.entity_error",
                  "Next": "FallbackEntities"
                }
              ]
            },
            "FallbackEntities": {
              "Type": "Pass",
              "Comment": "Entity extraction failed — use email_parser entities as fallback",
              "Parameters": {
                "policy_number.$":      "$.parsed_email.parsed_data.policy_number",
                "member_id.$":          "$.parsed_email.parsed_data.member_id",
                "customer_id.$":        "$.parsed_email.parsed_data.customer_id",
                "sender_email.$":       "$.parsed_email.parsed_data.sender_email",
                "pii_present.$":        "$.parsed_email.parsed_data.pii_present",
                "extracted_fields":     {},
                "textract_used":        false,
                "bedrock_used":         false,
                "extraction_confidence":0.0,
                "sources":              ["fallback"]
              },
              "ResultPath": "$.entities",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.analysis",
      "Next": "RetrieveKnowledge"
    },
    "RetrieveKnowledge": {
      "Type": "Task",
      "Resource": "${rag_retrieval_lambda_arn}",
      "Comment": "Retrieve relevant knowledge base documents",
      "Parameters": {
        "email_text.$": "$.parsed_email.parsed_data.body_text",
        "intent.$": "$.analysis[0].intent.classification.customer_intent",
        "top_k": 5
      },
      "ResultPath": "$.rag_results",
      "Next": "ValidateCRM",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SetEmptyRAG",
          "ResultPath": "$.rag_error"
        }
      ]
    },
    "SetEmptyRAG": {
      "Type": "Pass",
      "Comment": "RAG retrieval failed — use empty doc list so pipeline continues",
      "Parameters": {
        "retrieved_documents": [],
        "statusCode": 200
      },
      "ResultPath": "$.rag_results",
      "Next": "ValidateCRM"
    },
    "ValidateCRM": {
      "Type": "Task",
      "Resource": "${crm_validation_lambda_arn}",
      "Comment": "CRM validation: Text-to-SQL (Mistral 7B) → DynamoDB customer lookup → policy eligibility check",
      "Parameters": {
        "email_id.$": "$.parsed_email.email_id",
        "intent.$": "$.analysis[0].intent.classification.customer_intent",
        "email_body.$": "$.parsed_email.parsed_data.body_text",
        "extracted_entities": {
          "policy_number.$": "$.parsed_email.parsed_data.policy_number",
          "member_id.$": "$.parsed_email.parsed_data.member_id",
          "customer_id.$": "$.parsed_email.parsed_data.customer_id"
        }
      },
      "ResultPath": "$.crm_validation",
      "Next": "AssessFraudRisk",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SetEmptyCRM",
          "ResultPath": "$.crm_error"
        }
      ]
    },
    "SetEmptyCRM": {
      "Type": "Pass",
      "Comment": "CRM lookup failed — continue pipeline with empty CRM context",
      "Parameters": {
        "crm_found": false,
        "customer": null,
        "policy": null,
        "validation": {
          "policy_exists": false,
          "eligible_for_intent": false,
          "ineligibility_reason": "CRM lookup failed"
        }
      },
      "ResultPath": "$.crm_validation",
      "Next": "AssessFraudRisk"
    },
    "AssessFraudRisk": {
      "Type": "Pass",
      "Comment": "Rule-based fraud risk assessment",
      "Parameters": {
        "risk_level": "low",
        "risk_score": 0.15,
        "flags": []
      },
      "ResultPath": "$.fraud_score",
      "Next": "GenerateResponse"
    },
    "GenerateResponse": {
      "Type": "Task",
      "Resource": "${claude_response_lambda_arn}",
      "Comment": "Generate response using Claude 3",
      "Parameters": {
        "email_id.$": "$.parsed_email.email_id",
        "email_body.$": "$.parsed_email.parsed_data.body_text",
        "subject.$": "$.parsed_email.parsed_data.subject",
        "classification.$": "$.analysis[0].intent.classification",
        "rag_documents.$": "$.rag_results.retrieved_documents",
        "crm_validation.$": "$.crm_validation",
        "fraud_score.$": "$.fraud_score"
      },
      "ResultPath": "$.response",
      "Next": "DetermineAction",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "DetermineAction": {
      "Type": "Choice",
      "Comment": "Route based on confidence score",
      "Choices": [
        {
          "Variable": "$.response.action",
          "StringEquals": "auto_response",
          "Next": "AutoRespond"
        },
        {
          "Variable": "$.response.action",
          "StringEquals": "human_review",
          "Next": "QueueForReview"
        }
      ],
      "Default": "Escalate"
    },
    "AutoRespond": {
      "Type": "Task",
      "Resource": "${email_sender_lambda_arn}",
      "Comment": "Send auto-response via SES",
      "Parameters": {
        "email_id.$": "$.parsed_email.email_id",
        "recipient_email.$": "$.parsed_email.parsed_data.sender_email",
        "subject.$": "$.parsed_email.parsed_data.subject",
        "response_text.$": "$.response.response_text",
        "confidence_score.$": "$.response.confidence_score"
      },
      "ResultPath": "$.email_result",
      "Next": "SaveResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.email_error",
          "Next": "SaveResult"
        }
      ]
    },
    "QueueForReview": {
      "Type": "Pass",
      "Comment": "Queue for human review",
      "Parameters": {
        "action": "queued_for_review",
        "message": "Queued for human review"
      },
      "ResultPath": "$.final_action",
      "Next": "SaveResult"
    },
    "Escalate": {
      "Type": "Pass",
      "Comment": "Escalate to agent",
      "Parameters": {
        "action": "escalated",
        "message": "Escalated to human agent"
      },
      "ResultPath": "$.final_action",
      "Next": "SaveResult"
    },
    "HandleError": {
      "Type": "Pass",
      "Comment": "Handle errors and escalate",
      "Parameters": {
        "action": "error_escalation",
        "message": "Error occurred, escalating to human agent"
      },
      "ResultPath": "$.final_action",
      "Next": "SaveResult"
    },
    "SaveResult": {
      "Type": "Task",
      "Resource": "${save_result_lambda_arn}",
      "Comment": "Persist aggregated pipeline result to pipeline_results DynamoDB",
      "Next": "Success",
      "ResultPath": "$.save_result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.save_result_error",
          "Next": "Success"
        }
      ]
    },
    "Success": {
      "Type": "Succeed",
      "Comment": "Workflow completed successfully"
    }
  }
}
